/******* Header Mobile ************/
div.header .menu-mobile {
  display: none;
  float: right;
  right: 0px;
  position: relative;
  top: 5px;
  z-index: 2;
}
div.header .menu-mobile a {
  color: #334353;
  font-size: 32px;
}
@media only screen and (max-width: 980px) {
  div.header .col-center {
    box-sizing: border-box;
    height: 1%;
    overflow: hidden;
    padding: 0px 20px;
    width: 100%;
  }
  div.header .nav-top {
    height: auto;
  }
  .topoculto .colform {
    border: none;
    float: none;
    height: auto;
    margin: 0 auto;
    padding-left: 0px;
    padding-top: 0px;
    width: 300px;
  }
  .topoculto .colform .col {
    width: 103px;
  }
  .topoculto .colform .col:nth-of-type(3) {
    width: auto;
  }
  .topoculto .colform .col:nth-of-type(3) input {
    margin-top: 22px;
    width: 65px;
  }
  .topoculto .listtop {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  div.header {
    position: relative;
  }
  div.header .logo {
    height: auto;
  }
  div.header .logoccs {
    height: auto;
    width: 120px;
  }
  div.header .logoccs img {
    width: 120px;
  }
  div.header .menu-mobile {
    display: block;
  }
  div.header .nav {
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: 10;
  }
  div.header .nav ul {
    max-height: 0px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    -webkit-transition: max-height 300ms;
    transition: max-height 300ms;
  }
  div.header .nav ul.open {
    max-height: 700px;
  }
  div.header .nav li {
    display: block;
    float: none;
  }
  div.header .nav li .subnav {
    display: block;
    left: 0px;
    max-height: 0px;
    overflow: hidden;
    position: relative;
    top: 0px;
    -webkit-transition: max-height 300ms;
    transition: max-height 300ms;
    width: 100%;
  }
  div.header .nav li .subnav li a {
    font-size: 10px;
    padding-left: 24px !important;
  }
  div.header .nav li .subnav li a img {
    display: inline-block;
    float: none;
    position: relative;
    vertical-align: -11px;
  }
  div.header .nav li.activo01 .subnav {
    max-height: 700px;
  }
}
@media only screen and (max-width: 640px) {
  .nav-top {
    width: 100%;
  }
  .nav-top ul {
    text-align: center;
  }
  .nav-top ul li {
    background: #bbcada none repeat scroll 0 0;
    border-right: 1px solid #fff;
    display: inline-block;
    float: none;
    margin-right: -4px;
    margin-bottom: 1px;
  }
}
@media only screen and (max-width: 480px) {
  .logo {
    width: 159px;
  }
  .logo img {
    margin-top: 10px;
    width: 159px;
  }
}
/******* Footer Mobile **************/
.footer {
  margin-top: 0px;
  overflow: hidden;
}
.footer .blocks-info {
  float: left;
  height: 1%;
  overflow: hidden;
  width: auto;
}
@media only screen and (max-width: 980px) {
  .footer .logo {
    display: block;
    float: none;
    margin: 0 auto;
    width: 172px;
  }
  .footer .blocks-info {
    float: none;
    text-align: center;
  }
  .footer .blocks-info ul {
    box-sizing: border-box;
    float: none;
    display: inline-block;
    margin-bottom: 20px;
    padding: 0px 0px 0px 15px;
    vertical-align: top;
    text-align: left;
    width: 150px;
  }
  .footer .blocks-info ul span {
    border-bottom: 1px solid #bbc9d9;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .footer .piebackground {
    background: none;
  }
  .footer .piebackground .col-center {
    text-align: center;
  }
  .footer .piebackground .col-center > div {
    background: none;
    display: inline-block;
    float: none;
    margin: 0px;
    padding-top: 0px;
    width: 100%;
  }
  .footer .piebackground .col-center > div br {
    display: none;
  }
  .footer .piebackground .col-center > div br.nobr {
    display: block;
  }
  .footer .piebackground .col-center > div span {
    margin-right: 10px;
  }
  .footer .piebackground .col-center > div span:last-child {
    margin-right: 0px;
  }
  .footer .piebackground .col-center .contacto {
    margin-bottom: 20px;
  }
  .footer .piebackground .col-center .edificio span {
    display: inline-block;
    width: 100%;
  }
  .footer .piebackground .col-center .politicas {
    box-sizing: border-box;
    background: #334353;
    padding: 20px 20px 10px 20px;
  }
  .footer .piebackground .col-center .politicas h2 {
    display: inline-block;
    width: auto;
  }
}
@media only screen and (max-width: 768px) {
  .footer {
    padding-top: 20px;
  }
  .footer .blocks-info {
    display: none;
    text-align: left;
  }
  .footer .blocks-info ul {
    width: 180px;
  }
}
@media only screen and (max-width: 640px) {
  .footer .blocks-info {
    text-align: left;
  }
  .footer .blocks-info ul {
    width: 48%;
  }
}
/******* Home Mobile **************/
.bnoticias {
  float: left;
}
.buscador {
  box-sizing: border-box;
  width: 100%;
}
.banner-home {
  width: 310px;
}
@media only screen and (max-width: 980px) {
  .col-center {
    width: 100%;
  }
  .main.home {
    box-sizing: border-box;
    overflow: hidden;
    padding: 0px 20px;
  }
  .main.home .left {
    width: 100%;
  }
  .main.home .indicadores {
    box-sizing: border-box;
    float: none;
  }
  .main.home .indicadores p {
    text-align: center;
  }
  .main.home .indicadores strong {
    float: none;
    display: inline-block;
  }
  .main.home .slider {
    float: none;
  }
  .main.home .slider .bxslider-home img {
    width: 100%;
  }
  .main.home .slider .bx-pager {
    text-align: center;
  }
  .main.home .slider .bx-pager .bx-pager-item {
    display: inline-block;
  }
  .main.home .slider .frase1 {
    margin-top: 60px;
    top: 50%;
  }
  .main.home .slider .frase2 {
    margin-top: 90px;
    top: 50%;
  }
  .main.home .bnoticias .box-news {
    width: 47%;
  }
  .main.home .bnoticias .box-news.box-news1 {
    margin-right: 6%;
  }
  .main.home .box-info {
    margin: 0 auto;
    width: 650px;
  }
  .main.home .box-info .right {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .main .indicadores {
    width: 100%;
  }
  .main .slider .frase1 {
    margin-top: -30px;
    top: 50%;
  }
  .main .slider .frase2 {
    margin-top: 0px;
    top: 50%;
  }
  .main .bnoticias {
    padding: 0px 20px;
  }
  .main .bnoticias .box-news {
    width: 49%;
  }
  .main .bnoticias .box-news.box-news1 {
    margin-right: 2%;
  }
  .main .box-info {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
  }
  .main .box-info .buscador {
    display: block;
  }
  .main .box-info .buscador .in {
    width: 80%;
  }
  .main .box-info .buscador .bt {
    float: right;
    height: 32px;
    width: 19%;
  }
  .main .box-info .calendario .txt {
    box-sizing: border-box;
    padding: 37px 10px 10px;
  }
  .main .box-info .right {
    float: left;
    width: 100%;
  }
  .main .box-info .banner-home {
    margin: 10px 0px 0px;
    text-align: center;
    width: 48%;
  }
  .main .box-info .banner-home a {
    display: inline-block;
    width: 100%;
  }
  .main .box-info .banner-home a img {
    width: 100%;
  }
  .main .box-info .banner-home:nth-child(even) {
    margin-right: 4%;
  }
}
@media only screen and (max-width: 640px) {
  .main .indicadores strong {
    display: none;
  }
  .main .slider .frase1 {
    box-sizing: border-box;
    height: auto;
    padding: 0px 20px;
    width: 100%;
  }
  .main .slider .frase2 {
    box-sizing: border-box;
    height: auto;
    padding: 0px 20px;
    width: 100%;
  }
  .main .bnoticias {
    display: none;
  }
  .main .left {
    padding-bottom: 12px;
  }
}
@media only screen and (max-width: 480px) {
  .main .indicadores p {
    font-size: 11px;
  }
  .main .slider .frase1 {
    display: inline-block;
    position: relative;
    width: 100%;
  }
  .main .slider .frase2 {
    display: inline-block;
    position: relative;
    width: 100%;
  }
  .main .banner .txt {
    font-size: 17px;
  }
  .main .banner .txt02 {
    font-size: 10px;
  }
  .main .box-info .banner-home {
    width: 100%;
  }
  .main .box-info .banner-home:nth-child(even) {
    margin-right: 0%;
  }
}
/********* Default ********/
a {
  color: #4d6479;
  outline: none;
  -webkit-transition: color 250ms;
  transition: color 250ms;
}
a:hover {
  text-decoration: none;
}
a:active,
a:active * {
  outline: none !important;
  -moz-outline-style: none !important;
  text-decoration: none;
}
a:focus,
a:focus * {
  outline: none !important;
  -moz-outline-style: none !important;
  text-decoration: none;
}
label {
  vertical-align: middle;
}
input {
  border-top: 1px solid #e1e8ea;
  border-left: 1px solid #f5f7f8;
  border-right: 1px solid #f5f7f8;
  border-bottom: none;
  height: 35px;
  padding: 0px 5px;
}
#ui-datepicker-div {
  z-index: 2 !important;
}
.error {
  color: #cb4a0e;
}
.buttons a,
.button a,
.buttons input,
.button input {
  border: none;
  border-bottom: 2px solid #cb4a0e;
  background: #fd8339;
  height: 35px;
  display: inline-block;
  color: #fff;
  line-height: 35px;
  text-align: center;
  vertical-align: middle;
}
.top-indicadores {
  display: none;
  float: none;
  margin-bottom: 20px;
  margin-top: 10px;
}
.container {
  clear: both;
  font-family: 'Open Sans', sans-serif;
  margin: 0	auto;
  padding: 0px;
  width: 950px;
}
.container h3 {
  color: #fd8339;
  font-weight: bold;
  font-size: 13px;
}
.container h4 {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 20px;
}
.container .top-title {
  background: url(../img/bg-title.jpg) 0 0 no-repeat;
  border-bottom: 1px solid #fd8339;
  box-sizing: border-box;
  color: #fff;
  margin-bottom: 15px;
  padding: 15px 20px;
}
.container .top-title h2 {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  margin: 0px;
  text-align: left;
  text-transform: uppercase;
  vertical-align: middle;
  width: 49%;
}
.container .top-title p {
  display: inline-block;
  font-size: 12px;
  margin: 0px;
  text-align: right;
  vertical-align: middle;
  width: 49%;
}
.container .top-title p span {
  display: inline-block;
  width: 300px;
}
.container .content {
  box-sizing: border-box;
  padding: 0px 20px;
}
.container .breadcrum {
  margin-bottom: 15px;
  text-align: left;
}
.container .breadcrum a {
  color: #4d6479;
  font-size: 13px;
}
.container .breadcrum a.first {
  text-decoration: underline;
}
.container .breadcrum a:after {
  content: '\f105';
  display: inline-block;
  font-family: FontAwesome;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  margin-left: 10px;
  margin-right: 5px;
  vertical-align: 0px;
}
.container .breadcrum a.last {
  color: #fd8339;
}
.container .breadcrum a.last:after {
  display: none;
}
.container .bottom-content {
  height: 1%;
  margin-bottom: 20px;
  overflow: hidden;
}
.container .bottom-content .indicadores {
  float: left;
  margin-right: 2%;
  width: 66%;
}
.container .bottom-content .buscador {
  box-sizing: border-box;
  padding: 0px 0px 0px 5px;
  width: 32%;
}
.container .bottom-content .buscador .in {
  height: 25px;
  float: left;
  margin-top: 0px;
  width: 70%;
}
.container .bottom-content .buscador .bt {
  clear: unset;
  margin-top: 0px;
  float: left;
  height: 25px;
  width: 30%;
}
.container form {
  float: none;
}
.select-box {
  border-top: 1px solid #e1e8ea;
  border-left: 1px solid #f5f7f8;
  border-right: 1px solid #f5f7f8;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
.select-box select {
  border: none;
  background: none;
  cursor: pointer;
  height: 35px;
  outline: none;
  position: relative;
  padding: 0px 15px 0px 2px;
  width: 135%;
  z-index: 2;
}
.select-box span {
  background: url(../img/bg-select.jpg) 0 0 no-repeat;
  font-size: 20px;
  right: 5px;
  height: 19px;
  line-height: 19px;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 19px;
}
.transformer-tabs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.transformer-tabs li {
  border-top: 1px solid #4d6479;
  border-right: 1px solid #4d6479;
  display: inline-block;
  padding: 0;
  margin: 0px;
  margin-right: -4px;
  vertical-align: bottom;
}
.transformer-tabs li:first-child {
  border-left: 1px solid #4d6479;
}
.transformer-tabs a {
  display: inline-block;
  color: #4d6479;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 10px;
  position: relative;
  -webkit-transition: background 250ms;
  transition: background 250ms;
}
.transformer-tabs a.active,
.transformer-tabs a:hover {
  background: #4d6479;
  color: #fff;
}
.transformer-tabs a.active:after,
.transformer-tabs a:hover:after {
  border-top: 3px solid #334353;
  content: '';
  display: inline-block;
  left: 0px;
  top: 0px;
  position: absolute;
  width: 100%;
}
@media (max-width: 640px) {
  .transformer-tabs ul {
    border-bottom: 0;
    min-height: 40px;
    overflow: hidden;
    position: relative;
    background: #334353;
  }
  .transformer-tabs ul::after {
    content: "\f0d7";
    color: #ccc;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 20px;
    line-height: 1;
    position: absolute;
    top: 12px;
    right: 20px;
    z-index: 2;
    pointer-events: none;
  }
  .transformer-tabs ul.open a {
    position: relative;
    display: block;
  }
  .transformer-tabs li {
    border: 0px;
    display: block;
    position: relative;
  }
  .transformer-tabs a {
    position: absolute;
    top: 0;
    line-height: 30px;
    left: 0;
    text-align: center;
    width: 100%;
  }
  .transformer-tabs a.active {
    z-index: 1;
    background: #4d6479;
  }
}
.tabs {
  margin-bottom: 50px;
  padding: 0px 30px;
}
.tabs > div {
  border-top: 1px solid #4d6479;
  color: #4d6479;
  display: none;
  padding-top: 40px;
}
.tabs p {
  margin-bottom: 20px;
}
.tabs > .active {
  display: block;
}
@media only screen and (max-width: 980px) {
  .container {
    overflow: hidden;
    width: 100%;
  }
  .container .bottom-content .indicadores strong {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .top-indicadores {
    background: none;
    display: block;
  }
  .top-indicadores p {
    background: #dde5ed none repeat scroll 0 0;
  }
  .container .bottom-content {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  .tabs {
    padding: 0px;
  }
  .container .top-title h2 {
    width: 100%;
  }
  .container .top-title p {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .main .top-indicadores p {
    font-size: 10px;
  }
}
/********* Calculadora de Aranceles Interior ***********/
input[type="radio"] {
  display: none;
}
input[type="radio"] + label span {
  box-shadow: 0 0 0 2px #cccccc;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 6px 7px 0 105px;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}
input[type="radio"] + label span {
  border: 2px solid #ffffff;
  background-color: #ffffff;
}
input[type="radio"]:checked + label span {
  background-color: #fd8339;
}
.calculadora.interior {
  text-align: center;
}
.calculadora.interior h3 {
  margin-bottom: 30px;
}
.calculadora.interior form {
  display: inline-block;
  margin-bottom: 60px;
  text-align: left;
  width: auto;
}
.calculadora.interior form li {
  cursor: pointer;
}
.calculadora.interior form label {
  color: #334353;
  cursor: pointer;
  font-size: 13px;
  font-weight: normal;
  width: 100%;
}
.calculadora.interior form label span {
  float: right;
}
.calculadora.interior form .button {
  text-align: center;
}
.calculadora.interior form .button input[type="submit"] {
  padding: 0px 20px;
}
.calculadora.interior .breadcrum {
  margin-bottom: 30px;
}
.calculadora.interior .container {
  background: #ffffff url(../img/bg_calculadora.jpg) 0 0 no-repeat;
}
@media only screen and (max-width: 480px) {
  input[type="radio"] + label span {
    margin: 5px 7px 0 25px;
  }
  .calculadora form label {
    font-size: 11px;
  }
}
/********* Calculadora de Aranceles Home ***********/
.calculadora.home {
  text-align: center;
}
.calculadora.home h3 {
  margin-bottom: 30px;
}
.calculadora.home h4 {
  color: #4d6479;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 40px;
}
.calculadora.home .carousel-acuerdos {
  position: relative;
}
.calculadora.home .acuerdo {
  text-align: center;
}
.calculadora.home .acuerdo a {
  display: inline-block;
}
.calculadora.home .acuerdo a img {
  display: inline-block;
  margin-bottom: 15px;
  width: 78px;
}
.calculadora.home .acuerdo a p {
  font-size: 9px;
  font-weight: bold;
  opacity: 0;
}
.calculadora.home .acuerdo a:hover p {
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  opacity: 1;
}
.calculadora.home .breadcrum {
  margin-bottom: 30px;
}
.calculadora.home .control {
  bottom: 80px;
  position: absolute;
}
.calculadora.home .control a {
  background: #334353;
  color: #fff;
  font-weight: bold;
  height: 20px;
  line-height: 19px;
  text-align: center;
  width: 20px;
}
.calculadora.home .control a:hover {
  background: #4d6479;
  -webkit-transition: background 250ms;
  transition: background 250ms;
}
.calculadora.home .control.next {
  right: -20px;
}
.calculadora.home .control.prev {
  left: -20px;
}
.calculadora.home .container {
  background: #ffffff url(../img/bg_calculadora.jpg) 0 0 no-repeat;
}
.calculadora.home .options {
  margin-bottom: 70px;
}
.calculadora.home .options a {
  background: #4d6479;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  height: 71px;
  line-height: 71px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: background 250ms;
  transition: background 250ms;
  width: 160px;
}
.calculadora.home .options a:first-child {
  margin-right: 25px;
}
.calculadora.home .options a:after {
  border: 1px solid #fff;
  content: '';
  display: inline-block;
  height: 72%;
  left: 7%;
  position: absolute;
  top: 14%;
  width: 86%;
}
.calculadora.home .options a:hover {
  background: #fd8339;
  text-decoration: none;
}
@media only screen and (max-width: 480px) {
  .calculadora.home .options a:first-child {
    margin-bottom: 20px;
    margin-right: 0px;
  }
}
/********* Ata ***************/
.ata p.small {
  color: #767676;
}
.ata .banner-image {
  margin-bottom: 20px;
}
.ata .banner-image img {
  width: 100%;
}
.ata .breadcrum {
  margin-bottom: 40px;
}
.ata .border-one {
  border-bottom: 1px solid #fd8339;
}
.ata .country {
  float: left;
  margin-bottom: 2px;
  width: 25%;
}
.ata .countries p {
  padding-top: 30px;
}
.ata .list-countries {
  height: 1%;
  overflow: hidden;
}
.ata .row-info {
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 40px;
}
.ata .row-info a {
  display: block;
  line-height: 20px;
  margin-bottom: 20px;
}
.ata .row-info a img {
  display: inline-block;
  margin-right: 10px;
  vertical-align: -1px;
}
.ata .row-info span {
  display: inline-block;
  vertical-align: top;
}
.ata .row-info span.fa {
  color: #fd8339;
  font-size: 16px;
  margin-right: 10px;
}
.ata .row-info .column-info {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  width: 40%;
}
.ata .row-info .column-info:last-child {
  margin-right: 0px;
}
.ata .row-info.bottom-banners {
  padding-top: 40px;
}
.ata .top-title {
  margin-bottom: 0px;
}
@media only screen and (max-width: 980px) {
  .ata .banner-image {
    padding: 0px 20px;
  }
  .ata .telefonos span {
    width: 106px;
  }
}
@media only screen and (max-width: 640px) {
  .ata .row-info .column-info {
    width: 46%;
  }
  .ata .row-info.bottom-banners .column-info:last-child img {
    width: 100%;
  }
  .ata .country {
    width: 50%;
  }
}
@media only screen and (max-width: 640px) {
  .ata .row-info .column-info {
    width: 100%;
  }
  .ata .row-info.bottom-banners .column-info {
    margin-bottom: 20px;
  }
}
/******** Certificado internacional *********/
.certificado_internacional .tabs > div {
  color: #777;
}
.certificado_internacional ul span.fa {
  color: #fd8339;
  font-size: 16px;
}
.certificado_internacional p.small {
  margin-bottom: 40px;
}
.certificado_internacional fieldset {
  margin-bottom: 35px;
}
.certificado_internacional fieldset label {
  width: 50%;
}
.certificado_internacional fieldset .select-box,
.certificado_internacional fieldset input {
  width: 170px;
}
.certificado_internacional .buttons {
  text-align: center;
  width: 82%;
}
.certificado_internacional .buttons a,
.certificado_internacional .buttons input {
  width: 85px;
}
.certificado_internacional .buttons a {
  margin-right: 20px;
}
.certificado_internacional .input {
  margin-bottom: 5px;
}
.certificado_internacional .tipo {
  margin-bottom: 20px;
}
.certificado_internacional .tipo input[type="radio"] + label span {
  margin: 3px 10px 0 0px;
  float: left;
}
.certificado_internacional .tipo .radio label {
  color: #333;
  font-size: 12px;
  padding: 0px;
}
.certificado_internacional .select-box {
  display: inline-block;
}
.certificado_internacional .total-certificados {
  margin-bottom: 30px;
}
.certificado_internacional .total-certificados label {
  margin-right: 15px;
}
.certificado_internacional .total-certificados .column-cert {
  display: inline-block;
  vertical-align: top;
}
.certificado_internacional .total-certificados .column-cert .choice-box {
  border-top: 1px solid #e1e8ea;
  border-left: 1px solid #f5f7f8;
  border-right: 1px solid #f5f7f8;
  height: 110px;
  display: inline-block;
  padding: 10px 0px;
  vertical-align: middle;
  width: 100px;
}
.certificado_internacional .total-certificados .column-cert .choice-box a {
  display: block;
  padding: 0px 10px;
  text-align: left;
}
.certificado_internacional .total-certificados .column-cert .choice-box a:active,
.certificado_internacional .total-certificados .column-cert .choice-box a:hover {
  text-decoration: none;
}
.certificado_internacional .total-certificados .column-cert .choice-box a.active {
  background: #dfdfdf;
  text-decoration: none;
}
.certificado_internacional .total-certificados .column-cert .controls-choice {
  display: inline-block;
  padding: 0px 10px;
  vertical-align: middle;
}
.certificado_internacional .total-certificados .column-cert .controls-choice a {
  background: url(../img/bg-select.jpg) 0 0 no-repeat;
  display: block;
  font-size: 20px;
  height: 19px;
  line-height: 19px;
  text-align: center;
  width: 19px;
}
.certificado_internacional .total-certificados .column-cert .controls-choice a:first-child {
  margin-bottom: 5px;
}
.certificado_internacional .total-certificados .column-cert:first-child {
  margin-right: 40px;
}
@media only screen and (max-width: 640px) {
  .certificado_internacional .column-cert {
    text-align: center;
    width: 100%;
  }
  .certificado_internacional .column-cert:first-child {
    margin-bottom: 20px;
  }
  .certificado_internacional fieldset .select-box,
  .certificado_internacional fieldset input {
    width: 47%;
  }
  .certificado_internacional .buttons {
    width: 100%;
  }
}
/************* Estudios ******************/
.estudios .tabs > div {
  border: 1px solid #4d6479;
  padding: 0px 30px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.estudios .tabs p {
  height: 1%;
  overflow: hidden;
  border-bottom: 1px solid #fd8339;
  margin-bottom: 10px;
  padding-bottom: 7px;
}
.estudios .tabs p img {
  float: right;
  position: relative;
  bottom: 1px;
}
.estudios .tabs p span {
  float: left;
  line-height: 30px;
  position: relative;
  bottom: -8px;
}
@media only screen and (max-width: 480px) {
  .estudios .tabs p img {
    float: none;
  }
  .estudios .tabs p span {
    display: inline-block;
    float: none;
    line-height: 20px;
    width: 80%;
  }
}
