* {
  box-sizing: border-box;
}
section {
  display: block;
  width: 100%;
}
.inner {
  margin: 0px auto;
  max-width: 950px;
}
.breadcrumb ul li {
  display: inline-block;
}
.breadcrumb ul li a {
  color: #4d6479;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  position: relative;
  text-decoration: underline;
}
.breadcrumb ul li.active {
  color: #f77a2f;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}
@media (max-width: 400px) {
  .breadcrumb ul li.active {
    text-overflow: ellipsis;
    max-width: 71%;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
  }
}
.pdb10 {
  padding: 20px 50px !important;
  border-bottom: none;
}
@media (max-width: 950px) {
  .pdb10 {
    padding: 20px 0px !important;
  }
}
.title {
  background: url("../img/section-title-bg.png") no-repeat right top #4d6479;
  height: 78px;
  border-bottom: 1px solid #f77a2f;
  padding: 0px 30px;
  margin-bottom: 20px;
  width: 100%;
}
@media (max-width: 640px) {
  .title {
    padding: 0px;
  }
}
.title h2 {
  color: #fff;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 78px;
  text-transform: uppercase;
}
.title p {
  color: #fff;
  display: inline-block;
  float: right;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  max-width: 305px;
  text-align: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
@media (max-width: 600px) {
  .title p {
    display: none;
  }
}
.wrap-text {
  padding: 30px 50px;
}
@media (max-width: 950px) {
  .wrap-text {
    padding: 20px 0px;
  }
}
.wrap-text.pd10 {
  padding: 40px 50px 40px;
  border-bottom: 1px solid #f77a2f;
}
.wrap-text.pd10 p {
  margin-bottom: 0px;
}
.wrap-text.mplr20 {
  padding: 50px 20px;
}
.wrap-text .text-banner {
  margin-bottom: 30px;
}
.wrap-text .text-banner img {
  height: auto;
  border: none;
  width: 100%;
}
.wrap-text .text-banner img.desktop {
  display: block;
}
.wrap-text .text-banner img.mobile {
  display: none;
}
@media (max-width: 600px) {
  .wrap-text .text-banner img.mobile {
    display: block;
  }
}
.wrap-text h1 {
  color: #344454;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin-bottom: 30px;
  font-weight: 700;
}
@media (max-width: 640px) {
  .wrap-text h1 {
    margin: 0px 0px 20px;
  }
}
.wrap-text p {
  color: #344454;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 30px;
}
.wrap-text ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  padding-left: 15px;
  position: relative;
}
.wrap-text ul li:after {
  background: url("../img/wrap-text-li-arrow.jpg");
  content: '';
  height: 9px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: 0px;
  width: 5px;
}
a.btn-download {
  background: #fe5c11;
  border-bottom: 2px solid #cb4a0e;
  color: #fff;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 32px;
  margin: 0px auto;
  max-width: 210px;
  margin-bottom: 60px;
  padding: 0px 16px;
  text-align: center;
  transition: all 250ms;
}
a.btn-download span {
  text-transform: uppercase;
}
a.btn-download:hover {
  background: #cb4a0e;
  border-bottom: 2px solid #fe5c11;
}
.idicadores {
  height: 1%;
  overflow: hidden;
  margin-bottom: 20px;
  width: 100%;
}
@media (max-width: 600px) {
  .idicadores {
    display: none;
  }
}
.idicadores .item {
  display: block;
  text-align: center;
  float: left;
}
.idicadores .item.item-1 {
  background: #bbcada;
  width: 23.1%;
  padding: 0px 26px;
}
@media (max-width: 950px) {
  .idicadores .item.item-1 {
    width: 100%;
  }
}
.idicadores .item.item-2 {
  background: #dde4ec;
  width: 43.1%;
  padding: 0px 36px;
}
@media (max-width: 950px) {
  .idicadores .item.item-2 {
    width: 100%;
  }
}
.idicadores .item p {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  line-height: 25px;
  color: #344454;
  text-transform: uppercase;
}
.idicadores .item ul li {
  color: #344454;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  padding: 0px 10px;
  line-height: 25px;
}
.idicadores .search {
  float: right;
  width: 32.6%;
}
@media (max-width: 950px) {
  .idicadores .search {
    width: 100%;
  }
}
.idicadores .search form {
  width: 100%;
}
.idicadores .search form fieldset {
  border: none;
  padding: 0px;
  margin: 0px;
  float: left;
  width: 82.2%;
}
.idicadores .search form fieldset .input input {
  background: #344454;
  border: none;
  height: 25px;
  outline: none;
  padding: 0px 10px;
  width: 100%;
}
.idicadores .search form fieldset .input input::-webkit-input-placeholder {
  color: #fff;
}
.idicadores .search form fieldset .input input::-moz-placeholder {
  color: #fff;
}
.idicadores .search form .submit {
  width: 17.7%;
  float: left;
}
.idicadores .search form .submit button {
  height: 25px;
  width: 100%;
  background: url("../img/indicadores-lupa.png") center center no-repeat #4d6479;
  padding: 0px;
  display: block;
  transition: background 250ms;
  border: none;
}
.idicadores .search form .submit button:hover {
  background: url("../img/indicadores-lupa.png") center center no-repeat #61788d;
}
.wrap-login {
  max-width: 270px;
  margin: 0px auto;
  padding-top: 50px;
  height: 1%;
  overflow: hidden;
}
@media (max-width: 640px) {
  .wrap-login {
    padding-top: 20px;
  }
}
.wrap-login form {
  width: 100%;
}
.wrap-login form fieldset {
  border: none;
  padding: 0px;
}
.wrap-login form fieldset .input {
  margin-bottom: 35px;
}
.wrap-login form fieldset .input label {
  font-size: 14px;
  color: #344454;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 15px;
  display: block;
}
.wrap-login form fieldset .input input {
  background: #f2f3f4;
  height: 34px;
  border: none;
  outline: none;
  border-top: 1px solid #d6dee0;
  border-left: 1px solid #d6dee0;
  border-right: 1px solid #d6dee0;
  padding: 0px 15px;
  width: 100%;
}
.wrap-login form .submit {
  margin-bottom: 30px;
}
.wrap-login form .submit input {
  background: #fe5c11;
  border: none;
  border-bottom: 2px solid #cb4a0e;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  height: 32px;
  transition: all 250ms;
  width: 100%;
}
.wrap-login form .submit input:hover {
  background: #cb4a0e;
  border-bottom: 2px solid #fe5c11;
}
.wrap-login form .recordar {
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  text-align: center;
}
.wrap-login form .recordar input[type="radio"] {
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-appearance: none;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #cacece;
  background: #fff;
  display: inline-block;
  margin: 0 10px;
  padding: 8px;
  position: relative;
  outline: none;
  height: 20px;
  top: 3px;
}
.wrap-login form .recordar input[type="radio"]:checked {
  background-color: #ededed;
  border: 1px solid #ccc;
  background: #f77a2f;
  outline: none;
}
.wrap-buttons {
  max-width: 270px;
  margin: 0px auto;
  width: 100%;
}
.wrap-buttons a {
  background: #bbcada;
  border-bottom: 2px solid #96a2ae;
  color: #fff;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 32px;
  margin: 0px auto;
  margin-bottom: 60px;
  padding: 0px 20px;
  float: left;
  text-align: center;
  transition: all 250ms;
}
.wrap-buttons a span {
  text-transform: uppercase;
}
.wrap-buttons a:hover {
  background: #96a2ae;
  border-bottom: 2px solid #bbcada;
}
.wrap-buttons a:nth-of-type(2) {
  float: right;
}
.countries {
  height: 1%;
  overflow: hidden;
  margin-bottom: 50px;
  padding: 0px 50px;
}
@media (max-width: 950px) {
  .countries {
    padding: 0px 20px;
  }
}
.countries h1 {
  font-size: 13px;
  color: #344454;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
  margin-bottom: 50px;
  font-weight: 700;
}
.countries .country {
  float: left;
  margin-bottom: 7px;
  width: 202px;
}
@media (max-width: 600px) {
  .countries .country {
    width: 100%;
  }
}
.countries .country .thumb {
  max-width: 22px;
  display: inline-block;
  margin-right: 8px;
}
.countries .country .thumb img {
  height: auto;
  width: 100%;
}
.countries .country p {
  display: inline-block;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  vertical-align: top;
}
.servicios-sag {
  height: 1%;
  margin-bottom: 60px;
  overflow: hidden;
  padding: 0px 18px;
}
@media (max-width: 950px) {
  .servicios-sag {
    padding: 0px;
  }
}
.servicios-sag .item {
  float: left;
  position: relative;
  width: 33.3%;
}
@media (max-width: 950px) {
  .servicios-sag .item {
    margin-bottom: 10px;
    width: 100%;
  }
}
.servicios-sag .item .thumb {
  padding: 0px 15px;
  width: 100%;
}
@media (max-width: 950px) {
  .servicios-sag .item .thumb {
    padding: 0px 15px;
  }
}
.servicios-sag .item .thumb img {
  height: auto;
  width: 100%;
}
.servicios-sag .item p {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  left: 50%;
  margin-top: -8px;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  letter-spacing: 1px;
  transform: translateX(-50%);
}
.content-form {
  padding: 50px 0px;
  width: 100%;
}
@media (max-width: 640px) {
  .content-form {
    padding: 20px 0px;
  }
}
.content-form .form {
  float: left;
  padding: 0px 30px;
  width: 50%;
}
@media (max-width: 800px) {
  .content-form .form {
    padding: 0px 20px;
    width: 100%;
  }
}
.content-form .form form {
  width: 100%;
}
.content-form .form form fieldset {
  border: none;
  padding: 0px;
}
.content-form .form form fieldset .input {
  margin-bottom: 30px;
}
.content-form .form form fieldset .input label {
  font-size: 14px;
  color: #344454;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 15px;
  display: block;
}
.content-form .form form fieldset .input input,
.content-form .form form fieldset .input select {
  background: #fff;
  height: 34px;
  border: none;
  outline: none;
  border-top: 1px solid #d6dee0;
  border-left: 1px solid #d6dee0;
  border-right: 1px solid #d6dee0;
  padding: 0px 15px;
  width: 100%;
}
.content-form .form form fieldset .input select {
  background: url("../img/select-icon.png") no-repeat 96% center #ffffff;
  border-radius: 0;
  -webkit-appearance: none;
}
.content-form .form form .submit input {
  background: #fe5c11;
  border: none;
  border-bottom: 2px solid #cb4a0e;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  height: 32px;
  float: left;
  display: block;
  transition: all 250ms;
  padding: 0px 35px;
}
.content-form .form form .submit input:hover {
  background: #cb4a0e;
  border-bottom: 2px solid #fe5c11;
}
.info {
  float: left;
  margin-top: -88px;
  padding: 0px 25px;
  width: 50%;
}
@media (max-width: 800px) {
  .info {
    display: none;
  }
}
.info .wrap-text {
  background: #efefef;
}
.info.libold .wrap-text ul {
  margin-bottom: 20px;
}
.info.libold .wrap-text ul li {
  font-weight: 700;
  font-size: 12px;
}
.clearfix {
  display: inline-block;
  width: 100%;
}
.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.wrap-collapse {
  padding: 50px 0px;
}
@media (max-width: 800px) {
  .wrap-collapse {
    padding: 50px 0px;
  }
}
.wrap-collapse.pt20 {
  padding-top: 20px;
}
.wrap-collapse .collapse {
  border-bottom: 1px solid #344454;
  margin-bottom: 20px;
}
.wrap-collapse .collapse .collapse_head {
  position: relative;
  cursor: pointer;
  padding: 0px 50px 20px;
}
@media (max-width: 800px) {
  .wrap-collapse .collapse .collapse_head {
    padding: 0px 0px 20px;
  }
}
.wrap-collapse .collapse .collapse_head h3 {
  color: #ff3300;
  font-weight: 700;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 800px) {
  .wrap-collapse .collapse .collapse_head h3 {
    padding-right: 80px;
  }
}
@media (max-width: 600px) {
  .wrap-collapse .collapse .collapse_head h3 {
    font-size: 12px;
  }
}
.wrap-collapse .collapse .collapse_head h3 small {
  display: block;
  margin-top: 20px;
  color: #344454;
}
@media (max-width: 600px) {
  .wrap-collapse .collapse .collapse_head h3 small {
    margin-top: 10px;
  }
}
.wrap-collapse .collapse .collapse_head:after {
  content: "";
  position: absolute;
  right: 50px;
  bottom: 23px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #ff3300;
}
@media (max-width: 600px) {
  .wrap-collapse .collapse .collapse_head:after {
    right: 20px !important;
  }
}
.wrap-collapse .collapse .collapse_head.open {
  border-bottom: 0px solid #344454;
}
.wrap-collapse .collapse .collapse_head.open:after {
  bottom: 23px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ff3300;
}
.wrap-collapse .collapse .collapse_body {
  padding: 10px 50px;
  display: none;
}
@media (max-width: 800px) {
  .wrap-collapse .collapse .collapse_body {
    padding: 10px 20px !important;
  }
}
.wrap-collapse .collapse .collapse_body p {
  color: #344454;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.wrap-collapse.orange-color .collapse {
  margin-bottom: 20px;
  border-bottom: 1px solid #f77a2f;
}
.wrap-collapse.orange-color .collapse .collapse_head {
  position: relative;
  cursor: pointer;
  padding: 0px 50px 20px;
  border-bottom: none;
}
@media (max-width: 800px) {
  .wrap-collapse.orange-color .collapse .collapse_head {
    padding: 0px 0px 20px;
  }
}
.wrap-collapse.orange-color .collapse .collapse_head h3 {
  color: #344454;
}
.wrap-collapse.orange-color .collapse .collapse_head h3 small {
  color: #f77a2f;
}
.wrap-collapse.orange-color .collapse .collapse_head:after {
  content: "";
  position: absolute;
  right: 50px;
  bottom: 23px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #f77a2f;
}
.wrap-collapse.orange-color .collapse .collapse_head.open {
  border-bottom: none;
}
.wrap-collapse.orange-color .collapse .collapse_head.open:after {
  bottom: 23px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f77a2f;
}
.wrap-collapse.orange-color .collapse .collapse_body {
  border: none;
  padding: 10px 50px 30px !important;
  display: none;
}
@media (max-width: 640px) {
  .wrap-collapse.orange-color .collapse .collapse_body {
    padding: 10px 0px 30px !important;
  }
}
.wrap-collapse.orange-color .collapse .collapse_body p {
  color: #344454;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.donwload-btn {
  height: 1%;
  padding: 40px 0px 0px;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 800px) {
  .donwload-btn {
    padding: 40px 20px 0px;
  }
}
.donwload-btn.sm {
  padding: 10px 0px 0px;
  border-bottom: 1px solid #bbcada;
}
.donwload-btn a {
  background: #bbcada;
  display: block;
  float: left;
  line-height: 40px;
  text-align: center;
  color: #344454;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  transition: all 250ms;
  width: 235px;
}
.bigbanner {
  padding: 20px 0px 0px;
  width: 100%;
}
@media (max-width: 800px) {
  .bigbanner {
    display: none;
  }
}
.bigbanner img {
  height: auto;
  line-height: 0px;
  display: block;
  width: 100%;
}
/* Fecha Detaalle Capacitaciones */
.fecha_detalle .container .content .wrap-text {
  height: 1%;
  overflow: hidden;
}
.fecha_detalle .container .content .wrap-text .fecha {
  float: left;
  padding-top: 25px;
  width: 10.9%;
}
.fecha_detalle .container .content .wrap-text .thumb {
  float: left;
  width: 21.4%;
}
.fecha_detalle .container .content .wrap-text .fecha p {
  color: #f77a2f;
  font-size: 35px;
  margin-bottom: 0px;
}
.fecha_detalle .container .content .wrap-text .fecha span {
  font-size: 20px;
  color: #f77a2f;
}
.fecha_detalle .container .content .wrap-text .thumb img {
  height: auto;
  width: 100%;
}
.fecha_detalle .container .content .wrap-text .capacitaciones-text {
  float: left;
  vertical-align: top;
  width: 56.5%;
  padding-left: 36px;
}
.fecha_detalle .container .content .wrap-text .capacitaciones-text h2 {
  color: #f77a2f;
  font-size: 17px;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 18px;
}
.fecha_detalle .container .content .wrap-text .capacitaciones-text p {
  font-size: 12px;
  line-height: 16px;
  color: 3344454;
}
.container .content .wrap-text .capacitaciones-text a {
  display: block;
  border: 2px solid #f77a2f;
  color: #f77a2f;
  float: left;
  padding: 12px 7px;
  transition: color 250ms;
}
.fecha_detalle .container .content .wrap-text .capacitaciones-text a:hover {
  background: #f77a2f;
  color: #fff;
}
@media (max-width: 830px) {
  .fecha_detalle .container .content .wrap-text .capacitaciones-text {
    margin-top: 15px;
    padding-left: 0px;
    width: 100%;
  }
  .fecha_detalle .container .content .wrap-text .thumb {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .fecha_detalle .container .content .wrap-text .thumb {
    float: right;
    width: 80%;
  }
}
/* Directorio comex */
.wrap-directorio .form {
  height: 1%;
  overflow: hidden;
  border-bottom: 1px solid #344454;
  margin-bottom: 50px;
  margin-left: -20px;
  margin-right: -20px;
}
.wrap-directorio .form form .step-1 {
  background: #f0f0f0;
  height: 1%;
  overflow: hidden;
  padding-left: 7px;
  margin-bottom: 3px;
}
.wrap-directorio .form form .step-1 .title-form {
  float: left;
  text-align: center;
  width: 16.6%;
  background: #fff;
}
.wrap-directorio .form form .step-1 .title-form p {
  color: #ff4926;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 67px;
  font-weight: 700;
}
.wrap-directorio .form form .step-1 input {
  display: block;
  margin: 0px;
  float: left;
  margin-right: 10px;
  vertical-align: middle;
}
.wrap-directorio .form form .step-1 .items {
  height: 1%;
  overflow: hidden;
  float: left;
  width: 83.4%;
}
.wrap-directorio .form form .step-1 .items .item {
  float: left;
  margin: 21px 0px;
  padding-left: 11px;
  width: 31.3%;
}
.wrap-directorio .form form .step-1 .items .item p {
  font-size: 13px;
  display: inline-block;
  color: #666666;
  line-height: 35px;
  float: left;
  margin: 0px;
  vertical-align: middle;
  font-weight: 700;
}
.wrap-directorio .form form .step-1 .inputs {
  float: left;
  height: 1%;
  margin: 21px 0px;
  overflow: hidden;
  padding: 0px 11px;
  width: 83.4%;
}
.wrap-directorio .form form .step-1 .inputs .input {
  float: left;
  padding: 0px 5px;
  width: 25%;
}
.wrap-directorio .form form .step-1 .inputs .input .select-box {
  background: #fff;
  padding-right: 24px;
}
.wrap-directorio .form form .step-1 .inputs .input input {
  outline: none;
  width: 100%;
}
.wrap-directorio .form form .buttons-send {
  float: right;
  margin-bottom: 10px;
  margin-top: 10px;
}
.wrap-directorio .form form .buttons-send input {
  width: 182px;
  height: 32px;
  background: #fe5c11;
  color: #fff;
  border: none;
  border-bottom: 2px solid #cb4a0e;
  display: inline-block;
  transition: background 250ms, color 250ms;
}
.wrap-directorio .form form .buttons-send input:hover {
  background: #fff;
  color: #fe5c11;
}
.wrap-directorio .content-search {
  padding: 0px 30px;
}
.wrap-directorio .content-search h2 {
  font-size: 15px;
  color: #ff3300;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 45px;
}
.wrap-directorio .content-search .box {
  height: 1%;
  overflow: hidden;
  margin-bottom: 20px;
  width: 100%;
}
.wrap-directorio .content-search .box.enabled .wrapper-info {
  max-height: 500px;
  padding-top: 28px;
}
.wrap-directorio .content-search .box .wrapper-info {
  max-height: 0;
  overflow: hidden;
  transition: max-height 250ms, padding 500ms;
}
.wrap-directorio .content-search .box .wrapper-top {
  height: 1%;
  overflow: hidden;
}
.wrap-directorio .content-search .box .wrapper-top .razon {
  float: left;
  padding-left: 20px;
  background: #4d6479;
  width: 16.6%;
}
.wrap-directorio .content-search .box .wrapper-top .razon p {
  color: #fff;
  margin: 0px;
  line-height: 35px;
}
.wrap-directorio .content-search .box .wrapper-top .name {
  float: left;
  padding-left: 20px;
  background: #f0f0f0;
  width: 79.3%;
}
.wrap-directorio .content-search .box .wrapper-top .name p {
  color: #4d6479;
  margin: 0px;
  line-height: 35px;
}
.wrap-directorio .content-search .box .wrapper-top .open i:nth-of-type(1) {
  display: block;
}
.wrap-directorio .content-search .box .wrapper-top .open i:nth-of-type(2) {
  display: none;
}
.wrap-directorio .content-search .box .wrapper-top .open.more i:nth-of-type(1) {
  display: none;
}
.wrap-directorio .content-search .box .wrapper-top .open.more i:nth-of-type(2) {
  display: block;
}
.wrap-directorio .content-search .box .wrapper-top .open {
  display: block;
  float: left;
  height: 35px;
  text-align: center;
  width: 4%;
  background: #fe5c11;
  line-height: 35px;
  color: #fff;
}
.wrap-directorio .content-search .box .wrapper-top .open:hover {
  background: #cb4a0e;
}
.wrap-directorio .content-search .box .wrapper-info .row-text {
  height: 1%;
  overflow: hidden;
  padding: 0px 20px;
  margin-bottom: 20px;
}
.wrap-directorio .content-search .box .wrapper-info .row-text .item {
  float: left;
  width: 21.1%;
}
.wrap-directorio .content-search .box .wrapper-info .row-text .item p {
  color: #344454;
  font-weight: 700;
}
.wrap-directorio .content-search .box .wrapper-info .row-text .data {
  float: left;
  width: 78.9%;
}
@media (max-width: 850px) {
  .wrap-directorio .form form .step-1 {
    padding-left: 0px;
  }
  .wrap-directorio .form form .step-1 .title-form {
    width: 100%;
  }
  .wrap-directorio .form form .step-1 .items {
    width: 100%;
  }
  .wrap-directorio .form form .step-1 .items .item {
    margin: 0px;
    width: 100%;
  }
  .wrap-directorio .form form .step-1 .inputs {
    width: 100%;
  }
  .wrap-directorio .form form .step-1 .inputs .input {
    width: 100%;
  }
  .wrap-directorio .form form .buttons-send {
    width: 100%;
  }
  .wrap-directorio .form form .buttons-send input {
    margin-bottom: 10px;
    width: 100%;
  }
  .wrap-directorio .form {
    margin-left: 0px;
    margin-right: 0px;
  }
  .wrap-directorio .content-search {
    padding: 0px;
  }
  .wrap-directorio .content-search .box .wrapper-top .razon {
    width: 100%;
  }
  .wrap-directorio .content-search .box .wrapper-top .name {
    width: 90%;
  }
  .wrap-directorio .content-search .box .wrapper-top .open {
    width: 10%;
  }
  .wrap-directorio .content-search .box .wrapper-info .row-text .item {
    width: 100%;
  }
  .wrap-directorio .content-search .box .wrapper-info .row-text .data {
    width: 100%;
  }
}
